:root {
    --codegreen: #2fca5a;
    --darkgrey: #1f1f1f;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    line-height: 2;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Courier Prime', monospace;
    background-color: var(--darkgrey);
}

/* Header Section */

.header {
    background-color: black;
}

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.nav-link-img {
    display: flex;
    align-items: center;
}

.nav-link-img:hover {
    box-shadow: 0 0 1.5rem 0.5rem var(--codegreen);
    border-radius: 100%;
}

.nav-img {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 100%;
    /* object-fit: contain; */
}

.nav-link {
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-right: 20px;
    color: var(--codegreen);
}

/* Main Section */

main {
    flex-grow: 2;
}

/* Footer Section*/

.footer {
    background-color: black;
    font-size: 1.4rem;
}

.contact-container {
    display: flex;
}

.contact-link {

}

.contact-link:hover {

}